<div class='single-group' id="<%= dom_id group %>">
  <p>
    <%= group.icon %>
  </p>
  <p>
    <%=link_to group.name, group_path(group) %>
  </p>
  <p class="group-price">
    <%= number_to_currency(group.expenses.sum(:amount)) %>
  </p>
</div>
