<% provide(:title, "GROUPS") %>
<h2 class='title'>
  <%= @user.name %>
  <%= link_to "âœ", edit_user_registration_path %>
</h2>
<div id="categories" class="inner-container flex" >
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>
<%= link_to "New group", new_group_path, class: "btn-main" %>
