<section class="groups-index">
  <p style="color: green"><%= notice %></p>
  <h1>GROUPS</h1>
   <%= link_to "New group", new_group_path %>
  <div id="groups">
    <% @groups.each do |group| %>
      <%= render group %>
    <% end %>
  </div>
</section>
